{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>{% trans 'Список новостей' %}</h1>

   <h4>{% trans 'Всего новостей' %} {{news|length}} </h4>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>{% trans 'Заголовок' %}</td>
               <td>{% trans 'Дата публикации' %}</td>
               <td>{% trans 'Содержание' %}</td>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.header|censors }}</td>
               <td>{{ post.datetime_post|date:'d M Y' }}</td>
               <td>{{ post.content|censors|truncatewords:20 }}</td>
           </tr>
           {% endfor %}
    <form action="/subscribe/post/">
        <input type="submit" value="{% trans 'Подписаться на новинки в категории' %}">
    </form>
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}