<!DOCTYPE html>
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>

        <!-- Bootstrap core CSS -->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Применить">
    </form>



        <!-- Responsive navbar-->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">Django flatpages</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% load cache %}
                        {% cache 30 sidebar %}
                        <li class="nav-item">
                            <a class="nav-link" href="/news/">{% trans 'Новости' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news/create/">{% trans 'Создать новость' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/article/create/">{% trans 'Создать статью' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news/search">{% trans 'Поиск' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login/">{% trans 'Войти' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/subscribe/post/">{% trans 'Подписаться' %}</a>
                        </li>
                        {% endcache %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {{ flatpage.content }}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>
